.signpost > button {
    border-radius: 10px;
    background-color: lightblue;
    color: black;
    margin-right: 20px;
}

.signpost > h3 > a {
    color: white;
}

.signpost h3 {
    color: white;
    /* text-align: left; */
}

.form-box > button {
    background-color: lightblue;
    color: black;
}

/* .form > h2 {
    margin: 0 0 20px 0;
} */

.signpost {
    text-align: center;
    line-height: 1.5;
}
