.flex-container {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    margin: 10px 0;
}

.flex-box {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    box-sizing: border-box;
}

/* Animation styles */
.float-in {
    opacity: 0;
    transform: translateY(20px); /* Less pronounced float */
    transition: opacity 1.2s cubic-bezier(.23,1.02,.32,1), transform 1.2s cubic-bezier(.23,1.02,.32,1);
    will-change: opacity, transform;
}

.float-in.visible {
    opacity: 1;
    transform: translateY(0);
}

