nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background: inherit; /* Optional: set a background if needed */
    margin-bottom: 10px;
    height: 10vh;
}

h2 {
    margin-left: 20px;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    height: 100%;
}
  
li {
    height: 100%;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 100%;
    padding: 0 15px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}